html,
body,
#app,
#root,
.full {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "CronosPro";
  src: local("Cronos Pro Light Display"), local("CronosPro-LtDisp"),
    url(../public/fonts/cronos-pro-light-display/web/CronosPro-LtDisp.woff2)
      format("woff2"),
    url(../public/fonts/cronos-pro-light-display/web/CronosPro-LtDisp.woff)
      format("woff"),
    url(../public/fonts/cronos-pro-light-display/web/CronosPro-LtDisp.ttf)
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
